@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes textShimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

.animate-shimmer {
  background-size: 200% auto;
  animation: textShimmer 4s linear infinite;
}
